Checking...<br /><br />
<form name="election_login_form" method="post" action="{% url helios.views.password_voter_login election.uuid %}" autocomplete="off">
<input type="hidden" name="csrf_token" value="{{csrf_token}}" />
<input type="hidden" name="return_url" value="{{return_url}}" />
<div style="display: none;">
<table>
    {{password_login_form.as_table}}
</table>
</div>
<!--<input type="submit" value="check credentials" />-->
</form>

{% if bad_voter_login %}
<p style="color: red;">
Sorry, you are not permitted to vote for this election.
</p>
{% else %}
<SCRIPT LANGUAGE="JavaScript">
setTimeout('document.election_login_form.submit()',0);
</SCRIPT>
{% endif %}

